*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
head {
	display: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	background: var(--backgrounds-day-beige-background, #f1efe4);
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	margin: 0px auto;
	box-sizing: content-box;
	max-width: 1296px;
}

.popular__goods-upper_content {
	display: flex;
	justify-content: space-between;
}
.popular__goods-title {
	color: var(--elements-day-main-text, #191816);
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px; /* 129.63% */
}
.popular__goods-tooglers {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inactive img {
	transform: rotate(180deg);
}

.popular__goods-toogler {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
}
.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}
.active:hover {
	background: #ffffffce;
}
.popular__goods-toogler:not(:last-child) {
	margin-right: 18px;
}
.popular__goods-toogler img {
	width: 28px;
	height: 28px;
}
.popular__goods-toogler_img {
}
.popular__goods-cards_content {
}

.popular__goods-cards {
	padding-top: 64px;
}

.popular__goods-card {
	position: relative;
	background: #fff;
	border-radius: 32px;
	width: 306px;
	height: 424px;
}

.popular__goods-card_content {
	position: absolute;
	left: 24px;
	top: 24px;
}
.popular-card__title {
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px; /* 130% */
}
.popular-card__img {
	display: flex;
	justify-content: center;
	width: 258px;
	height: 202px;
	flex-shrink: 0;
	padding-top: 24px;
}
.popular-card__button {
	border-radius: 8px;
	background: var(--backgrounds-day-for-icons-with-background, #1f222e);
	width: 258px;
	padding: 7px 12px;
	color: #fff;
	border: none;
	transition: 0.2s;
}
.popular-card__button:hover {
	transform: scale(1.02);
}
.popular-card__price {
	display: flex;
	justify-content: space-between;
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px; /* 130% */
	padding-top: 24px;
}

.popular-card__button-content {
	position: absolute;
	top: 335px;
}
